$px8: 0.5714rem;
$px9: 0.6429rem;
$px10: 0.7143rem;
$px11: 0.7857rem;
$px12: 0.8571rem;
$px13: 0.9285rem;
$px14: 1rem;
$px15: 1.0714rem;
$px16: 1.1428rem;
$px17: 1.2142rem;
$px18: 1.2857rem;
$px19: 1.3571rem;
$px20: 1.4285rem;
$px21: 1.5rem;
$px22: 1.5714rem;
$px23: 1.6428rem;
$px24: 1.7142rem;
$px25: 1.7857rem;
$px26: 1.8571rem;
$px27: 1.9285rem;
$px28: 2rem;
$px29: 2.0714rem;
$px30: 2.1428rem;
$px31: 2.2142rem;
$px32: 2.2857rem;
$px33: 2.3571rem;
$px34: 2.4285rem;
$px35: 2.5rem;
$px36: 2.5714rem;
$px37: 2.6428rem;
$px38: 2.7142rem;
$px39: 2.7857rem;
$px40: 2.8571rem;
$px41: 2.9285rem;
$px42: 3rem;
$px43: 3.0714rem;
$px44: 3.1428rem;
$px45: 3.2142rem;
$px46: 3.2857rem;
$px47: 3.3571rem;
$px48: 3.4285rem;
$px49: 3.5rem;
$px50: 3.5714rem;
