
.collection{

	width:100%;
}
.collection-item{
	min-height: 48px;
	color: #808581;
	padding: 0px 10px;

}

.collection-item:nth-child(odd) {

  background: #F8F8F8
}


.collection-item:nth-child(even) {

  background: #fcfcfb
}

.collection-title{
  min-height: 48px;
  padding: 0px 10px;
  background-color: #e1f5be;
  min-width: 100%;
}
