.btn{

  background-color: white;
  border: 1px solid black;
  padding:6px;

  .main{
    background-color:$main-green;
  }
}


input,select {
  width: 100%;
  min-height: 40px;
  box-shadow: none;
  border: $ultra-light-gray 1px solid;
  border-radius: 4px;
  margin: 8px 0px;
  padding: 0px 10px;
}

button.login {
  color: $text-gray;
  border: none;
  background: none;
  padding: 0px;
  .material-icons {
    font-size: 40px;
  }
}

p#switchForm{
  color: $text-gray;
  text-align: center;
  margin-top: 25px;
  a, a:visited {
    color: $main-green;
  }
  a {
    border-bottom: solid 1px;
    padding-bottom: 1px;
  }
}
