
$header_height:50px;

header {

  height: auto;
  background-color: $light-green;
  position: fixed;
  top: 0; right: 0; left: 0;
  z-index: 1000;

  nav, aside {
    width: 100%;
    color: black;
    max-width: 1024px;
    height: $header_height;
    margin: 0px auto;
    padding: 5px 10px;
    background-color: $light-green;
    box-shadow: none;
  }
  aside {
    padding: 10px 0px;
    height: inherit;
  }

  div {
    width: auto;
    height: 100%;
  }

  img{
    height: 100%;
  }

  h2 {
    line-height: inherit;
    font-family: 'arial';

  }

} /* Fin Header */

.header-wrapper{
  padding-top:$header_height;
}
.header_buttons{
  padding-top: 6px;
}
