section.main {
	max-width: 1024px;
	width: 100%;
	margin: 0px auto;
	padding: 70px 0px 0px;
}

// section.with-header{
//   max-width: 1024px;
// 	width: 100%;
// 	margin: 0px auto;
// 	padding: 70px 0px;
// }

section.with-header-nospace{
  max-width: 1024px;
	width: 100%;
	margin: 0px auto;
	padding: 50px 0px;

}
